<section class="channels-list">
  <h1>Ada Channels</h1>
  <% if @channels %>
    <ul>
      <% @channels.each do |channel| %>
        <li>
          <%= link_to channel.name, chat_new_path(channel.id) %>
          <ul>
            <li>Topic: <%= channel["topic"]["value"] %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
